name: Publish Pages

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    name: Build Site
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Install Dependencies
        run: uv sync --frozen

      - name: Build
        run: uv run --frozen mkdocs build

      - name: Upload site files
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/

  create_release:
    name: Create Release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, 'NO RELEASE')

    needs: build

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Increment Version
        uses: automas-dev/reusable-workflows/increment_version@main
        id: version

      - name: Create Release
        uses: ncipollo/release-action@v1.14.0
        with:
          makeLatest: true
          generateReleaseNotes: true
          tag: ${{ steps.version.outputs.version }}

  deploy:
    name: Deploy Site
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy Site to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
