name: Publish Pages

on:
  push:
    branches:
      - main

  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    name: Build Site
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version-file: .python-version

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Install Dependencies
        run: uv sync --frozen

      - name: Build
        run: uv run --frozen mkdocs build

      - name: Upload site files
        id: deployment
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/

  increment_version:
    name: Increment Version
    uses: automas-dev/reusable-workflows/.github/workflows/increment_version.yml@main
    if: github.ref == 'refs/heads/main'
    secrets: inherit

    needs: build

    permissions:
      contents: write

  deploy:
    name: Deploy Site
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    needs: build

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy Site to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
